<!-- {{ publishPath }}/webparts/{{ fileName }} -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<!--[if IE]>-->
<script type="text/javascript" src="{{ publishPath }}/scripts/polyfills.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="{{ publishPath }}/libs/pnpjs.es5.umd.bundle.min.js"></script>
<script type="text/javascript" src="{{ publishPath }}/libs/react.production.min.js"></script>
<script type="text/javascript" src="{{ publishPath }}/libs/react-dom.production.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">

<h2>Example CEWP (using PnPjs + React)</h2>
<div id='example-cewp-container'></div>

<script type="text/javascript" src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>
