<!-- {{ publishPath }}/webparts/{{ fileName }} -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">
<script src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>

<h2>Example content editor web-part</h2>