<!-- {{ publishPath }}/webparts/{{ fileName }} -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<script src="{{ publishPath }}/scripts/polyfills.js"></script>
<script src="{{ publishPath }}/libs/pnpjs.es5.umd.bundle.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">

<h2>Example CEWP (using PnPjs)</h2>
<div id='example-cewp-container'></div>

<script src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>